python-dotenv
ollama
git+https://github.com/huggingface/transformers
qwen-vl-utils
openai
accelerate>=0.26.0
packaging
ninja
streamlit
pyperclip
Pillow
google-genai

# pip install flash-attn --no-build-isolation 별도 설치 필요.